*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}
.header{
    display: flex;
}
.header-text{
    width: 50%;
}
.header-flower{
    width: 30%;
}
.header-flower img{
    width: 90%;
}